body{
  background-color: rgb(240, 252, 236);
  
  background-size: cover;
}
.title{
  display:flex;
  align-items: center ;
  justify-content: center;
}

.example2 {
  display:flex;
  align-items: center ;
  justify-content: center;
  width:200px;
  height:60px;
  background: #338DC9;
  color: #e11b1b;
  text-decoration: none;
  }

  .out {
    display: table;
    width: 100%;
    height: 85%;
  }
  

  
  .center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .string {
    color: #000000;
  }

  .test {
    font-size: 20vmin;
  }